*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,600;1,300&display=swap');

#School{
    display: flex;
    flex-direction: column;
    
    padding-left: 30%;
    justify-content: center;
    padding-top: 5%;
    color: var(--alice-blue);
    font-family: 'Roboto Mono', monospace;
    flex-wrap: wrap;
    background-color: #112240;
    padding-bottom: 50px;
    padding-left: 50px;
}
.School-top{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}
.School-top-left{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
}
.School-top-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
}
.School-card{
    margin-left: 20px;
}

@media screen and (min-width: 1400px) {
    /* Dispositivos mayores que 1400px para las ultra width */

    
}
    
@media screen and (max-width: 1024px) {
/* Para laptops */ 

    #School{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: var(--alice-blue);
        width: 80vw;
        font-family: 'Roboto Mono', monospace;
    }

    .School-top{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        
    }
    .School-top-left{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .School-top-right{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: aquamarine;
    }

}

    
    
@media screen and (max-width: 768px) {
/* Para tablets */ 

}
    
    
@media screen and (max-width: 480px) {
/* Para smartphones */

}