.App {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90vw;

}
html {
  scroll-behavior: smooth;
}
#container {
  
}
