.App {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: flex-column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
html {
  scroll-behavior: smooth;
}
#container {
  width: 100vw;
  /* background-color: var(--prussian-blue); */
  background-color: #52796F;
}